.features-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: -32px;
    margin-left: -32px;

    &:first-of-type {
        margin-top: -16px;
    }

    &:last-of-type {
        margin-bottom: -16px;
    }
}

.feature {
    padding: 16px 32px;
    width: 380px;
    max-width: 380px;
    flex-grow: 1;
}

.feature-inner {
    height: 100%;
}

.feature-icon {
	display: flex;
    justify-content: center;
}

.feature-price-aroma{
    font-size: x-large;
    font-weight: bold;
    font-family:'Fira Sans Condensed', sans-serif;;
}

.feature-description-aroma{
    font-size: medium;
    font-family:'Fira Sans Condensed', sans-serif;;

}

.feature-radio-tipo{

    font-size: medium;
    font-weight: bold;
    font-family:'Fira Sans Condensed', sans-serif;;
}

.feature-select-aroma {
    color:rgb(0, 0, 0);
    width: 85%;         
    display: inline-block;
    vertical-align: top;
    border: 0;
    border-radius: 2.5px;
    text-align-last: center;
    text-align:center;
}

@include media( '>medium' ) {

    .features-wrap {

        &:first-of-type {
            margin-top: -24px;
        }

        &:last-of-type {
            margin-bottom: -24px;
        }
    }

    .feature {
        padding: 32px 32px;
    }
}
